*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
}

.action {
  background: linear-gradient(42.83deg, #080F58 0%, #7D67EC 124.24%);
  width: 100%;
  height: 100%;

  &__form {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    flex-wrap: wrap;
    color: #FFFFFF;
    align-items: center;
  }

  &__title {
    font-size: 48px;
    line-height: 66px;
    text-align: center;
  }

  &__subtitle{
    font-size: 24px;
    line-height: 33px;
  }

  &__add {
    width: 24px;
    height: 24px;
    position: relative;
  }

  &__add:after {
    content: '';
    width: 24px;
    height: 4px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(90deg);
    top: 0px;
    left: 0px;
  }

  &__add:before {
    content: '';
    width: 24px;
    height: 4px;
    position: absolute;
    background: #FFFFFF;
    top: 0px;
    left: 0px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__login {
    height: 307px;
  }

  &__register {
    height: 390px;
  }

  &__input {
    width: 352px;
    height: 40px;
    border-radius: 10px;
  }

  &__button {
    width: 352px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #EC336B;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }

  &__total {
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
  }

  &__save {
    font-size: 30px;
    line-height: 41px;
    color: #33EC9E;
  }

  &__account-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__item-block {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__title-account {
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-right: 10px;
  }

  &__input-account {
    width: 250px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #080F58;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__input-account_select {
    position: relative;
  }

  &__list {
    flex-direction: column;
    position: absolute;
    height: auto;
    top: 73px;
    z-index: 10;
  }

  &__list_option {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__account-list {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__account-data {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
  }
}

.slide-up{
  animation: slide-up .5s cubic-bezier(0.36, 0.82, 0.32, 0.99);
}

@keyframes slide-up {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}